{% extends "base.html" %}

{% block title %}Produtos{% endblock %}

{% block navbar_left %}
    <li class="nav-item">
        <a class="nav-link {% if active_page=='home' %}active{% endif %}" href="{{ url_for('page_home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_page=='produtos' %}active{% endif %}" href="{{ url_for('page_produto') }}">Produtos</a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">

        <!-- Coluna de Produtos Disponíveis -->
        <div class="col-md-8">
            <h2 class="text-center">Produtos Disponíveis</h2>
            <p class="text-center">Clique em comprar o item caso tenha interesse</p>

            <table class="table table-striped table-hover table-bordered table-dark">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cód Barra</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for item in itens %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.cod_barra }}</td>
                        <td>{{ item.preco | currency }}</td>
                        <td>
                            <button data-bs-toggle="modal" data-bs-target="#exampleModal-{{ item.id }}"
                                    class="btn btn-info">
                                Mais informações
                            </button>
                            <button data-bs-toggle="modal" data-bs-target="#exampleModalCompra-{{ item.id }}"
                                    class="btn btn-success">
                                Comprar esse produto
                            </button>
                        </td>
                    </tr>

                    {% include 'includes/modal_produto.html' %}
                {% endfor %}
                </tbody>
            </table>
        </div>


        <!-- Coluna de Produtos Adquiridos -->
        <div class="col-md-4">
            <h2 class="text-center">Produtos Adquiridos</h2>
            <p class="text-center">Clique em devolver o item caso tenha interesse</p>

            <table class="table table-striped table-hover table-bordered table-dark">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cód Barra</th>
                    <th>Preço</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for item in purchased_items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.cod_barra }}</td>
                        <td>{{ item.preco | currency }}</td>
                        <td>
                            <button class="btn btn-warning">Devolver</button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhum produto adquirido.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if dono_itens %}
                <div class="row mt-3">
                    {% for dono_item in dono_itens %}
                        <div class="col-md-12 mb-3">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title">{{ dono_item.nome }}</h5>
                                    <p class="card-text">{{ dono_item.descricao }}</p>
                                    <a style="margin-bottom: 10px; margin-top: 10px"
                                       data-bs-toggle="modal"
                                       data-bs-target="#"
                                       class="btn btn-danger"
                                       type="button">Vender este produto</a>
                                    <p><strong>Esse produto custa R$ {{ dono_item.preco }}</strong></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

        </div>

    </div>
{% endblock %}
